@model IEnumerable<RestauranteEtec.Models.Cargo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Lista de cargos</h1>

<p>
    <a asp-action="Create">Adicionar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="mr-3 text-warning">
                    <i class="zmdi zmdi-edit" title="Alterar"></i>    
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="mr-3 text-white">
                    <i class="zmdi zmdi-zoom-in" title="Detalhes"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="mr-3 text-danger">
                    <i class="zmdi zmdi-delete" title="Excluir"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
