@model RestauranteEtec.Models.Funcionario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    Detalhes do funcionário
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <img src="@(System.IO.File.Exists(ViewData["wwwroot"] + "/" + Model.Foto) ?
                                    Url.Content("~/" + Model.Foto) : Url.Content("~/images/sem_foto.png"))"
                             class="img-fluid" id="PreviewImagem" />
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <label class="col-md-3" asp-for="Nome"></label>
                            <label class="col-md-9">@Html.DisplayFor(model => model.Nome)</label>
                        </div>
                        <div class="row">
                            <label class="col-md-3" asp-for="Texto"></label>
                            <label class="col-md-9">@Html.DisplayFor(model => model.Texto)</label>
                        </div>
                        <div class="row">
                            <label class="col-md-3" asp-for="CargoId"></label>
                            <label class="col-md-9">@Html.DisplayFor(model => model.Cargo.Nome);</label>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icheck-material-white">
                                    <input type="checkbox" asp-for="ExibirHome" disabled />
                                    <label asp-for="ExibirHome"></label>
                                </div>
                            </div>
                            <div class="col-md-6 pt-1">
                                <label asp-for="OrdemExibicao"></label>
                                <label>@Html.DisplayFor(model => model.OrdemExibicao)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-mt-3">
                    <a class="btn btn-warning mr-3" asp-action="Edit" asp-route-id="@Model.Id">Alterar</a>
                    <a class="btn btn-light" asp-action="Index">Voltar a listagem</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        window.addEventListener('load', function () {
            document.querySelector('input[type="file"]').addEventListener('change', function () {
                if (this.files && this.files[0]) {
                    var img = document.getElementById('PreviewImagem');
                    img.src = URL.createObjectURL(this.files[0]);
                }
            });
        });
    </script>
}